
.menu {
    margin: 0px;
    padding: 0px;
    color: #402E2A;
    font-weight: bold;
    background-color: #D5B0AC;
    height:30px;
    text-align: center;
}

.menu span {
    display: inline-block;
    width: 100px;
    line-height:30px;
    background-color: #D5B0AC;
    position: relative;
}
nav .menu span {
    float: left;
}

.menu span:hover {
    background-color: #9CD08F;
    color: #FFFFFF;
}

.sub-menu {
    display: none;
}

.menu span:hover > .sub-menu  {
    display: block;
}

nav.menu > span .sub-menu .sub-menu{
    margin-left: 100px;
    top: 0;
    position: absolute;
}
