<style media="screen">
  body {
    background-color: #FBFEF9;
    text-color: #333333;
  }
  .form-control{
    border-color: #BF1363;
  }

</style>


<div class="container">

  <h1 class="mt-5">ScoreKeeper</h1>
  <br>
  <br>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        {{#each game.Player}}
          <th scope="col">{{this.playerName}}</th>
        {{/each}}
      </tr>
      <tr>
        <th id="sumall" scope="col">Sum of Score</th>
        <th id="sum_1" scope="col"></th>
        <th id="sum_2" scope="col"></th>
        <th id="sum_3" scope="col"></th>
        <th id="sum_4" scope="col"></th>
      </tr>
    </thead>
    <tbody id="Round">

    </tbody>
  </table>
<div class="text-center">
<button style="background-color:  #BF1363; border-color: #BF1363;" type="submit" class="btn btn-primary btn-lg" id="addRoundbtn">Add round</button>
</div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    var count = 1;
    $("#addRoundbtn").click(function(){
    $('#Round').append(`
      <tr>
        <th class="column_0" cope="row">Round ${count}</th>
        <td>
          <input class="form-control column_1" >
        </td>
        <td>
          <input class="form-control column_2" >
        </td>
        <td>
          <input class="form-control column_3" >
        </td>
        <td>
          <input class="form-control column_4" >
        </td>
      </tr>

    `);
    count += 1;




  });


  $(document).on('keyup', '.form-control', function(){
    $.ajax({
      url:`/api/add/${question.id}/row/col`,
      type: 'get',
      success: function(response){
        if(response.items.length != 0){
          console.log('success');
      },
      error: function(response){
        console.log('Error', response);
      }
    });


  });



$(document).on('keyup', '.column_1', function(){
  var sum = 0;
  $(".column_1").each(function(){
      sum += parseInt($(this).val());
  });
  $("#sum_1").text(sum);
});
$(document).on('keyup', '.column_2', function(){
  var sum = 0;
  $(".column_2").each(function(){
      sum += parseInt($(this).val());
  });
  $("#sum_2").text(sum);
});
$(document).on('keyup', '.column_3', function(){
  var sum = 0;
  $(".column_3").each(function(){
      sum += parseInt($(this).val());
  });
  $("#sum_3").text(sum);
});
$(document).on('keyup', '.column_4', function(){
  var sum = 0;
  $(".column_4").each(function(){
      sum += parseInt($(this).val());
  });
  $("#sum_4").text(sum);
});






 });
</script>
