.menu {
  color: #402E2A;
  background-color: #D5B0AC;
  font-weight: bold;
  text-align-last: center;
}

.menu span {
  display: inline-table;
  background-color: #D5B0AC;
  width: 100px;
  height: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.menu span:hover {
  color: #FFFFFF;
  background-color: #9CD08F;
  cursor: pointer;
}

.menu.menu_vertical{
  width: 100px;
  background-color: white;
}

.menu.menu_vertical span {
  display: block;
  margin-bottom: 1px
}
