<h1>Hãy hỏi 1 câu hỏi đúng/sai hoặc có/không</h1>

<form action="/api/question" method="POST">
  <textarea name="question" rows="10" cols="90"></textarea>
  <button class="col-xl-2 col-6 btn btn-block" type="summit">Gửi</button>
</form>
